.cf-navbar {
  background-color: #f4f4f4;
}
.cf-navbar .cf-nav-items li {
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: #f4f4f4;
}
.cf-navbar .cf-nav-items li a {
  color: #414141 !important;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: raleway, sans-serif;
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  .cf-navbar .cf-nav-items li:hover {
    -webkit-transition-property: border-color;
    -moz-transition-property: border-color;
    -o-transition-property: border-color;
    -ms-transition-property: border-color;
    transition-property: border-color;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -ms-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    transition-timing-function: ease;
    border-color: #000;
  }
}
.cf-navbar .cf-guerrilla-link-img img {
  height: auto;
  width: 100%;
  max-width: 127px;
  display: none;
}
@media screen and (min-width: 992px) {
  .cf-navbar .cf-guerrilla-link-img img {
    display: inline;
  }
}
@media screen and (min-width: 992px) {
  .cf-navbar .cf-guerrilla-link-img span {
    display: none;
  }
}
.cf-footer {
  background-color: #534741;
  height: 48px;
}
.cf-footer .cf-social img {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.cf-footer .cf-social img:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.cf-footer form input {
  color: #fff;
  font-family: open-sans, sans-serif;
  font-style: normal;
  font-weight: 300;
  background: transparent;
  border: none;
  font-size: 14px;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.cf-footer form input::placeholder {
  color: #fff;
  font-family: open-sans, sans-serif;
  font-style: normal;
  font-weight: 300;
  background: transparent;
  border: none;
  font-size: 14px;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.cf-footer form input {
  width: 200px;
  border-bottom: solid 1px rgba(255,255,255,0.4);
}
.cf-footer form input:focus {
  line-height: normal;
  outline: none;
  border-bottom: solid 1px rgba(255,255,255,0.2);
}
.cf-footer form button {
  color: #fff;
  font-family: open-sans, sans-serif;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  font-weight: 100;
  font-size: 14px;
}
.cf-footer form button:hover {
  color: #e9a43c;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.cf-footer .brand {
  font-family: open-sans, sans-serif;
  color: #fff;
  letter-spacing: 2px;
  background-color: transparent;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}
@media screen and (max-width: 318px) {
  .cf-footer .brand {
    font-size: 8px;
    width: 94px;
    text-align: right;
  }
}
.cf-bc {
  background-color: #f0f0f0;
}
.blur-box {
  z-index: -1;
  width: 100%;
  height: 1000px;
  background: rgba(0,0,0,0.6);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC");
  background-repeat: repeat;
}
@media screen and (max-width: 400px) {
  .blur-box {
    height: 600px;
  }
}
.blur-box.half-blur {
  height: 650px;
}
@media screen and (max-width: 400px) {
  .blur-box.half-blur {
    height: 400px;
  }
}
.blur-box.no-blur {
  background-image: none;
}
.blur-box.clean {
  background: none;
}
.transparent {
  background-color: transparent;
}
.subtitle-banner {
  width: 100%;
  height: 166px;
  background-color: #e1e1e1;
}
.subtitle-banner span {
  color: #7f7f7f;
  font-size: 70px;
  line-height: 84px;
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 0 15px 0 15px;
}
@media screen and (max-width: 554px) {
  .subtitle-banner span {
    font-size: 50px;
    line-height: 1;
  }
}
@media screen and (max-width: 400px) {
  .subtitle-banner span {
    font-size: 40px;
  }
}
.subtitle-banner.with-desc {
  height: 200px;
}
@media screen and (max-width: 400px) {
  .subtitle-banner.with-desc {
    height: 160px;
  }
}
@media screen and (min-width: 1900px) {
  .subtitle-banner.with-desc {
    height: 260px;
  }
}
.subtitle-banner.with-desc p {
  line-height: 13px;
  font-family: raleway, sans-serif;
  letter-spacing: 1px;
  background-color: transparent;
  font-size: 11px;
  text-align: center;
  position: relative;
  font-weight: 500;
  max-width: 658px;
  padding: 0 15px 0 15px;
}
.subtitle-banner.with-desc p a:hover {
  color: #7f7f7f;
}
@media screen and (max-width: 400px) {
  .subtitle-banner.with-desc p {
    font-size: 8px;
  }
}
@media screen and (min-width: 1900px) {
  .subtitle-banner.with-desc p {
    font-size: 15px;
    line-height: 1.1;
    max-width: 880px;
    margin-top: 10px;
  }
}
.subtitle-banner.banner-small {
  height: 130px;
}
@media screen and (max-width: 554px) {
  .subtitle-banner.banner-small {
    height: 120px;
  }
}
@media screen and (max-width: 400px) {
  .subtitle-banner.banner-small {
    height: 90px;
  }
}
.subtitle-banner.banner-small span {
  font-size: 40px;
}
@media screen and (max-width: 554px) {
  .subtitle-banner.banner-small span {
    font-size: 30px;
    line-height: 1;
  }
}
@media screen and (max-width: 400px) {
  .subtitle-banner.banner-small span {
    font-size: 25px;
  }
}
.subtitle-banner.director-banner {
  height: auto;
  background-color: #eee;
}
.subtitle-banner.director-banner span {
  color: #7f7f7f;
  font-family: bebas-neue, sans-serif;
  letter-spacing: 4px;
  font-size: 45px;
  line-height: 54px;
  text-align: center;
  font-weight: 400;
}
.subtitle-banner.director-banner p {
  line-height: 14px;
  font-family: open-sans, sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
  text-align: center;
  font-weight: 300;
  max-width: 1140px;
}
.subtitle-banner.director-banner .link a {
  color: #000;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  font-family: open-sans, sans-serif;
  font-weight: 700;
}
.subtitle-banner.director-banner .link a:hover {
  color: #7f7f7f;
}
.group-link-box {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
  height: 250px;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.group-link-box span {
  color: #fff;
  text-align: center;
  font-size: 40px;
  line-height: 48px;
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 890px) {
  .group-link-box span {
    font-size: 30px;
  }
}
.group-link-box span.subtitle {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2px;
}
@media screen and (min-width: 1900px) {
  .group-link-box {
    height: 330px;
  }
  .group-link-box span {
    font-size: 50px;
  }
}
.group-link-box:hover {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.group-link-box.bordered-box {
  border: solid 1px #fff;
  height: 198px;
}
.group-link-box.bordered-box span {
  font-size: 30px;
  letter-spacing: 1px;
}
@media screen and (min-width: 1900px) {
  .group-link-box.bordered-box {
    height: 330px;
  }
  .group-link-box.bordered-box span {
    font-size: 50px;
  }
}
.group-link-box.big-box {
  height: 400px;
}
@media screen and (max-width: 890px) {
  .group-link-box.big-box {
    height: 210px;
  }
}
.group-link-box.big-box span {
  line-height: 66px;
  letter-spacing: 1px;
  font-size: 55px;
}
@media screen and (max-width: 890px) {
  .group-link-box.big-box span {
    font-size: 40px;
  }
}
.group-link-box.big-box.contact:hover {
  opacity: 1 !important;
  -ms-filter: none !important;
  filter: none !important;
}
@media screen and (min-width: 2000px) {
  .group-link-box.big-box.contact {
    height: 480px;
  }
}
@media screen and (max-width: 890px) {
  .group-link-box.contact-banner {
    height: 400px;
  }
}
.group-link-box.contact-banner .contact-box {
  max-width: 470px;
  margin-top: -24px;
  padding: 10px 60px;
}
@media screen and (max-width: 410px) {
  .group-link-box.contact-banner .contact-box {
    margin-top: 0px;
    margin-left: 0px;
  }
}
.group-link-box.contact-banner .contact-box .text1 {
  letter-spacing: 0px;
  font-size: 45px;
  line-height: 1.3;
  text-align: left;
}
@media screen and (max-width: 410px) {
  .group-link-box.contact-banner .contact-box .text1 {
    font-size: 30px;
  }
}
.group-link-box.contact-banner .contact-box .text2 {
  font-size: 31px;
  line-height: 1.4;
  text-align: left;
  letter-spacing: 0px;
}
@media screen and (max-width: 410px) {
  .group-link-box.contact-banner .contact-box .text2 {
    font-size: 25px;
  }
}
.group-link-box.contact-banner .contact-box .text3 {
  font-size: 24px;
  line-height: 1;
  text-align: left;
  letter-spacing: 0px;
}
@media screen and (max-width: 410px) {
  .group-link-box.contact-banner .contact-box .text3 {
    font-size: 20px;
  }
}
.group-link-box.contact-banner .contact-box a {
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  background-color: transparent;
  border: solid 5px #fff;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: bebas-neue, sans-serif;
  text-align: center;
}
.group-link-box.contact-banner .contact-box a:hover {
  background-color: #fff;
  color: #000;
}
@media screen and (max-width: 400px) {
  .group-link-box.contact-banner .contact-box a {
    font-size: 20px;
  }
}
.group-link-box.info-box {
  background-color: #f6f6f6;
  padding: 50px 62px;
}
@media screen and (max-width: 1214px) {
  .group-link-box.info-box {
    padding: 50px 20px;
  }
}
@media screen and (max-width: 890px) {
  .group-link-box.info-box {
    height: 400px;
  }
}
@media screen and (max-width: 767px) {
  .group-link-box.info-box {
    padding: 10px 10px;
    height: 232px;
  }
}
.group-link-box.info-box .info-group {
  padding: 10px;
}
.group-link-box.info-box .info-group .text1 {
  font-size: 14px;
  font-family: open-sans, sans-serif;
  color: #7d796b;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 1.3;
  text-align: right;
  max-width: 274px;
}
@media screen and (min-width: 2000px) {
  .group-link-box.info-box .info-group .text1 {
    font-size: 19px;
    max-width: 350px;
  }
}
.group-link-box.info-box .info-group .text2 {
  font-size: 13px;
  font-family: open-sans, sans-serif;
  color: #7d796b;
  font-weight: 400;
  line-height: 1.3;
  text-align: right;
  max-width: 274px;
  letter-spacing: 1px;
}
@media screen and (min-width: 2000px) {
  .group-link-box.info-box .info-group .text2 {
    font-size: 18px;
    max-width: 350px;
  }
}
.group-link-box.info-box .info-group .text3 {
  font-size: 12px;
  line-height: 14px;
  font-family: open-sans, sans-serif;
  color: #ea0e8b;
  font-weight: 400;
  line-height: 1.3;
  text-align: right;
  letter-spacing: 1px;
  max-width: 274px;
}
@media screen and (min-width: 2000px) {
  .group-link-box.info-box .info-group .text3 {
    font-size: 17px;
    max-width: 350px;
  }
}
.group-link-box.note-box {
  background-color: #f6f6f6;
  padding: 10px 60px;
}
@media screen and (max-width: 890px) {
  .group-link-box.note-box {
    height: 400px;
  }
}
@media screen and (max-width: 767px) {
  .group-link-box.note-box {
    padding: 20px 20px;
    height: 300px;
  }
}
.group-link-box.note-box span {
  font-size: 35px;
  line-height: 42px;
  font-family: bebas-neue, sans-serif;
  color: #7f7f7f;
  font-weight: 400;
  text-align: left;
}
.group-link-box.note-box p {
  font-family: open-sans, sans-serif;
  color: #7d796b;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
}
@media screen and (max-width: 890px) {
  .group-link-box.map-box {
    height: 400px;
  }
}
.no-decoration {
  color: inherit;
}
.no-decoration:hover {
  text-decoration: none;
}
.no-decoration:link {
  text-decoration: none;
}
.big-banner {
  height: 100%;
  width: 100%;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
}
.big-banner span {
  font-size: 95px;
  letter-spacing: 1px;
  margin-top: -100px;
  margin-bottom: 26px;
  padding: 0 20px 0 20px;
}
@media screen and (max-width: 400px) {
  .big-banner span {
    font-size: 50px;
    line-height: 1;
  }
}
.big-banner a {
  font-size: 33px;
  line-height: 40px;
  color: #fff;
  background-color: transparent;
  border: solid 3px #fff;
  letter-spacing: 2px;
}
.big-banner a:hover {
  background-color: #fff;
  color: #000;
}
@media screen and (max-width: 400px) {
  .big-banner a {
    font-size: 20px;
  }
}
.slider-box {
  position: relative;
  width: 100%;
  height: 340px;
}
.slider-box.newsfeed-slider {
  height: 356px;
}
.slider-box.newsfeed-slider .swiper-button-next,
.slider-box.newsfeed-slider .swiper-button-prev {
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-size: auto;
}
.slider-box.director-slider {
  width: 100%;
  height: 100%;
}
.slider-box.director-slider .swiper-button-next,
.slider-box.director-slider .swiper-button-prev {
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-size: auto;
}
.slider-box.director-slider .swiper-slide {
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.slider-box.director-slider .swiper-slide .title {
  font-size: 70px;
  padding: 10px;
  font-family: bebas-neue, sans-serif;
  letter-spacing: 6px;
  color: #fff;
  font-weight: 400;
  line-height: 0.8;
}
@media screen and (max-width: 400px) {
  .slider-box.director-slider .swiper-slide .title {
    font-size: 50px;
  }
}
.slider-box.director-slider .swiper-slide .desc {
  text-align: center;
  font-family: bebas-neue, sans-serif;
  letter-spacing: 6px;
  color: #fff;
  font-weight: 400;
  font-size: 35px;
  line-height: 34px;
}
@media screen and (max-width: 400px) {
  .slider-box.director-slider .swiper-slide .desc {
    font-size: 20px;
  }
}
.slider-box.director-slider .swiper-slide .desc.info {
  font-size: 15px;
}
@media screen and (max-width: 400px) {
  .slider-box.director-slider .swiper-slide .desc.info {
    font-size: 12px;
  }
}
.slider-box.director-slider .swiper-pagination-bullet {
  border-radius: 100%;
  width: 8px;
}
.slider-box .swiper-container1 {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: hidden;
}
.slider-box .swiper-slide {
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  font-size: 18px;
  background: #fff;
}
.slider-box .swiper-slide a {
  pointer-events: none;
}
.slider-box .swiper-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  font-family: 'object-fit: cover; object-position: center;';
}
.slider-box .swiper-pagination-bullet {
  border-radius: 0px;
  background: #fff;
  width: 8px;
  height: 8px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.slider-box .swiper-pagination-bullet-active {
  background: #7f7f7f;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.slider-box .swiper-pagination-fraction {
  font-size: 16px;
  color: #fff;
  bottom: 10px;
}
.slider-box .swiper-pagination-progress .swiper-pagination-progressbar {
  background: #330067;
}
.slider-box .swiper-container-horizontal>.swiper-pagination-progress {
  height: 4px;
}
.slider-box .prev {
  cursor: pointer;
}
.slider-box .next {
  cursor: pointer;
}
.slider-box .pstr1 {
  text-align: center;
}
.produccion-info-box {
  background-color: #e1e1e1;
}
.produccion-info-box .title {
  font-family: bebas-neue, sans-serif;
  text-align: center;
  font-size: 40px;
  line-height: 48px;
  color: #7f7f7f;
  font-weight: 400;
  letter-spacing: 1px;
}
.produccion-info-box p {
  font-family: open-sans, sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  min-height: 68px;
  font-weight: 300;
  max-width: 900px;
}
.produccion-info-box .icon-box img {
  height: 40px;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.produccion-info-box .icon-box span {
  font-family: open-sans, sans-serif;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.tippy-tooltip.cf-theme {
  background-color: #9e9e9e;
}
.tippy-tooltip.cf-theme [x-arrow] {
  border-bottom-color: #9e9e9e;
}
.date {
  text-align: left;
  font-family: open-sans, sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #7f7f7f;
  font-weight: 700;
}
.newsfeed-box h2 {
  font-family: bebas-neue, sans-serif;
  font-size: 45px;
  line-height: 54px;
  color: #7f7f7f;
  font-weight: 400;
}
.newsfeed-box h3 {
  line-height: 19px;
  color: #7f7f7f;
  font-family: open-sans, sans-serif;
  font-size: 16px;
  text-align: left;
  font-weight: 700;
}
.newsfeed-box p {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  word-wrap: break-word;
}
.newsfeed-box p.video-container iframe {
  width: 100% !important;
}
.newsfeed-divider {
  max-width: 655px;
}
.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #414141;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  -ms-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
}
.loading-inf {
  background-color: #7a7a7a;
  width: 100%;
  min-height: 60px;
  padding: 15px;
}
.inherit-bg {
  background: inherit !important;
}
.pointer-event-inherit {
  pointer-events: inherit !important;
}
.swiper-slide.bug-swiper {
  opacity: 0 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
  filter: alpha(opacity=0) !important;
  -webkit-transition: opacity 1s linear !important;
  -moz-transition: opacity 1s linear !important;
  -o-transition: opacity 1s linear !important;
  -ms-transition: opacity 1s linear !important;
  transition: opacity 1s linear !important;
}
.swiper-slide.bug-swiper.swiper-slide-active {
  opacity: 1 !important;
  -ms-filter: none !important;
  filter: none !important;
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
