.cf-footer
    background-color #534741
    height 48px
    .cf-social
        img
            opacity 0.5
            &:hover
                opacity 1
    form
        input
            color #FFFFFF
            font-family open-sans, sans-serif
            font-style normal
            font-weight 300
            background transparent
            border none
            font-size 14px
            opacity 0.6
        input::placeholder
            color #FFFFFF
            font-family open-sans, sans-serif
            font-style normal
            font-weight 300
            background transparent
            border none
            font-size 14px
            opacity 0.8
        input
            width 200px
            border-bottom solid 1px rgba(255, 255, 255 0.4)
            &:focus
                line-height normal
                outline none
                border-bottom solid 1px rgba(255, 255, 255 0.2)
        button
            color #FFFFFF
            font-family open-sans, sans-serif
            opacity 0.6
            font-weight 100
            font-size 14px
            &:hover
                color #E9A43C
                opacity 1
    .brand
        font-family open-sans, sans-serif
        color #FFFFFF
        letter-spacing 2px
        background-color transparent
        font-size 12px
        line-height 14px
        font-weight 400
        @media screen and (max-width: 318px)
            font-size 8px
            width 94px
            text-align right