$mac_width = 1900px

.cf-bc
    background-color #F0F0F0
.blur-box
    z-index -1
    width 100%
    height 1000px
    background rgba(0, 0, 0, 0.6)
    background-image url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC")
    background-repeat repeat
    @media screen and (max-width: 400px)
        height 600px
    &.half-blur
        height 650px
        @media screen and (max-width: 400px)
            height 400px
    &.no-blur
        background-image none
    &.clean
        background none
.transparent
    background-color transparent
.subtitle-banner
    width 100%
    height 166px
    background-color #E1E1E1
    span
        color #7F7F7F
        font-size 70px
        line-height 84px
        font-family bebas-neue, sans-serif
        font-weight 400
        text-align center
        padding 0 15px 0 15px
        @media screen and (max-width: 554px)
            font-size 50px
            line-height 1
        @media screen and (max-width: 400px)
            font-size 40px
    &.with-desc
        height 200px
        @media screen and (max-width: 400px)
            height 160px
        @media screen and (min-width: $mac_width)
            height 260px
        p
            line-height 13px
            font-family raleway, sans-serif
            letter-spacing 1px
            background-color transparent
            font-size 11px
            text-align center
            position relative
            font-weight 500
            max-width 658px
            padding 0 15px 0 15px
            a
                &:hover
                    color #7F7F7F
            @media screen and (max-width: 400px)
                font-size 8px
            @media screen and (min-width: $mac_width)
                font-size 15px
                line-height 1.1
                max-width 880px
                margin-top 10px
    &.banner-small
        height 130px
        @media screen and (max-width: 554px)
            height 120px
        @media screen and (max-width: 400px)
            height 90px
        span
            font-size 40px
            @media screen and (max-width: 554px)
                font-size 30px
                line-height 1
            @media screen and (max-width: 400px)
                font-size 25px
    &.director-banner
        height auto
        background-color #EEEEEE
        span
            color #7F7F7F
            font-family bebas-neue, sans-serif
            letter-spacing 4px
            font-size 45px
            line-height 54px
            text-align center
            font-weight 400
        p
            line-height 14px
            font-family open-sans, sans-serif
            letter-spacing 1px
            font-size 12px
            text-align center
            font-weight 300
            max-width 1140px
        .link
            a
                color #000
                opacity 0.5
                font-family open-sans, sans-serif
                font-weight 700
                &:hover
                    color #7F7F7F
.group-link-box
    transition-property opacity
    height 250px
    transition-duration 1s
    transition-delay 0s
    transition-timing-function ease-in-out
    opacity 1
    background-color #fff
    background-repeat no-repeat
    background-position center center
    background-size cover
    span
        color #FFFFFF
        text-align center
        font-size 40px
        line-height 48px
        font-family bebas-neue, sans-serif
        font-weight 400
        @media screen and (max-width: 890px)
            font-size 30px
        &.subtitle
            font-size 20px
            line-height 24px
            letter-spacing 2px
    @media screen and (min-width: $mac_width)
        height 330px
        span
            font-size 50px
    &:hover
        opacity 0.6
    &.bordered-box
        border solid 1px white
        height 198px
        span
            font-size 30px
            letter-spacing 1px
        @media screen and (min-width: $mac_width)
            height 330px
            span
                font-size 50px
    &.big-box
        height 400px
        @media screen and (max-width: 890px)
            height 210px
        span
            line-height: 66px
            letter-spacing 1px
            font-size 55px
            @media screen and (max-width: 890px)
                font-size 40px
        &.contact
            &:hover
                opacity 1 !important
            @media screen and (min-width: 2000px)
                height 480px
    &.contact-banner
        @media screen and (max-width: 890px)
            height 400px
        .contact-box
            max-width 470px
            margin-top -24px
            padding 10px 60px
            @media screen and (max-width: 410px)
                margin-top 0px
                margin-left 0px
            .text1
                letter-spacing 0px
                font-size 45px
                line-height 1.3
                text-align left
                @media screen and (max-width: 410px)
                    font-size 30px
            .text2
                font-size 31px
                line-height 1.4
                text-align left
                letter-spacing 0px
                @media screen and (max-width: 410px)
                    font-size 25px
            .text3
                font-size 24px
                line-height 1
                text-align left
                letter-spacing 0px
                @media screen and (max-width: 410px)
                    font-size 20px
            a
                font-size 30px
                line-height 36px
                color white
                background-color transparent
                border solid 5px white 
                letter-spacing 1px
                font-weight 400
                font-family bebas-neue, sans-serif
                text-align center
                &:hover
                    background-color white
                    color black
                @media screen and (max-width: 400px)
                    font-size 20px
    &.info-box
        background-color #F6F6F6
        padding 50px 62px
        @media screen and (max-width: 1214px)
            padding 50px 20px
        @media screen and (max-width: 890px)
            height 400px
        @media screen and (max-width: 767px)
            padding 10px 10px
            height 232px
        .info-group
            padding 10px
            .text1
                font-size 14px
                font-family open-sans, sans-serif
                color #7D796B
                letter-spacing 1px
                font-weight 700
                line-height 1.3
                text-align right
                max-width 274px
                @media screen and (min-width 2000px)
                    font-size 19px
                    max-width 350px
            .text2
                font-size 13px
                font-family open-sans, sans-serif
                color #7D796B
                font-weight 400
                line-height 1.3
                text-align right
                max-width 274px
                letter-spacing 1px
                @media screen and (min-width 2000px)
                    font-size 18px
                    max-width 350px
            .text3
                font-size 12px
                line-height 14px
                font-family open-sans, sans-serif
                color #EA0E8B
                font-weight 400
                line-height 1.3
                text-align right
                letter-spacing 1px
                max-width 274px
                @media screen and (min-width 2000px)
                    font-size 17px
                    max-width 350px
    &.note-box
        background-color #F6F6F6
        padding 10px 60px
        @media screen and (max-width: 890px)
            height 400px
        @media screen and (max-width: 767px)
            padding 20px 20px
            height 300px
        span
            font-size 35px
            line-height 42px
            font-family bebas-neue, sans-serif
            color #7F7F7F
            font-weight 400
            text-align left
        p
            font-family open-sans, sans-serif
            color #7D796B
            font-weight 400
            line-height 1.2
            text-align left
    &.map-box
        @media screen and (max-width: 890px)
            height 400px
.no-decoration
    color inherit
    &:hover
        text-decoration none
    &:link
        text-decoration none
.big-banner
    height 100%
    width 100%
    text-align center
    color #FFFFFF
    letter-spacing 2px
    font-family bebas-neue, sans-serif
    font-weight 400
    span
        font-size 95px
        letter-spacing 1px
        margin-top -100px
        margin-bottom 26px
        padding 0 20px 0 20px
        @media screen and (max-width: 400px)
            font-size 50px
            line-height 1
    a
        font-size 33px
        line-height 40px
        color white
        background-color transparent
        border solid 3px white 
        letter-spacing 2px
        &:hover
            background-color white
            color black
        @media screen and (max-width: 400px)
            font-size 20px
.slider-box
    position relative
    width 100%
    height 340px
    &.newsfeed-slider
        height 356px
        .swiper-button-next
        .swiper-button-prev
            background-size auto
    &.director-slider
        width 100%
        height 100%
        .swiper-button-next
        .swiper-button-prev
            background-size auto
        .swiper-slide
            background-position center center
            background-size cover
            background-repeat no-repeat
            .title
                font-size 70px
                padding 10px
                font-family bebas-neue, sans-serif
                letter-spacing 6px
                color #FFFFFF
                font-weight 400
                line-height 0.8
                @media screen and (max-width: 400px)
                    font-size 50px
            .desc
                text-align center;
                font-family bebas-neue, sans-serif
                letter-spacing:6px
                color #FFFFFF
                font-weight 400
                font-size 35px
                line-height 34px
                @media screen and (max-width: 400px)
                    font-size 20px
                &.info
                    font-size 15px
                    @media screen and (max-width: 400px)
                        font-size 12px
        .swiper-pagination-bullet
            border-radius 100%
            width 8px
    .swiper-container1
        position absolute
        top 0px
        width 100%
        height 100%
        padding-top 0px
        padding-bottom 0px
        overflow hidden
    .swiper-slide
        transform-origin center
        background-position center
        background-size cover
        text-align center
        font-size 18px
        background #FFFFFF
    .swiper-slide
        a 
            pointer-events none
    .swiper-wrapper
        img
            width 100%
            height 100%
            object-fit cover
            object-position center center
            font-family 'object-fit: cover; object-position: center;'
    .swiper-pagination-bullet
        border-radius 0px
        background #FFFFFF
        width 8px
        height 8px
        opacity 1
    .swiper-pagination-bullet-active 
        background #7F7F7F
        opacity 1
    .swiper-pagination-fraction 
        font-size 16px
        color #FFFFFF
        bottom 10px
    .swiper-pagination-progress
        .swiper-pagination-progressbar
            background #330067
    .swiper-container-horizontal>.swiper-pagination-progress 
        height 4px
    .prev
        cursor pointer
    .next 
        cursor pointer
    .pstr1 
        text-align center
.produccion-info-box
    background-color #E1E1E1
    .title
        font-family bebas-neue, sans-serif
        text-align center
        font-size 40px
        line-height 48px
        color #7F7F7F
        font-weight 400
        letter-spacing 1px
    p
        font-family open-sans, sans-serif
        letter-spacing 1px
        font-size 16px
        line-height 19px
        text-align center
        min-height 68px
        font-weight 300
        max-width 900px
    .icon-box
        img
            height 40px
            opacity 0.3
        span
            font-family open-sans, sans-serif
            color #000000
            font-weight 700
            font-size 14px
            opacity 0.7
.tippy-tooltip
    &.cf-theme
        background-color darken(#E1E1E1, 30%)
        & [x-arrow]
            border-bottom-color darken(#E1E1E1, 30%)
.date
    text-align left
    font-family open-sans, sans-serif
    font-size 16px
    line-height 19px
    color #7F7F7F
    font-weight 700
.newsfeed-box
    h2
        font-family bebas-neue, sans-serif
        font-size 45px
        line-height 54px
        color #7F7F7F
        font-weight 400
    h3
        line-height 19px
        color #7F7F7F
        font-family open-sans, sans-serif
        font-size 16px
        text-align left
        font-weight 700
    p
        font-family Arial, Helvetica Neue, Helvetica, sans-serif
        text-align left
        font-size 14px
        line-height 17px
        word-wrap break-word
        &.video-container
            iframe
                width 100% !important
.newsfeed-divider
        max-width 655px
.loader
    border 5px solid #f3f3f3
    border-top 5px solid #414141
    border-radius 50%
    width 40px
    height 40px
    animation spin 2s linear infinite
    margin auto
.loading-inf
    background-color darken(#f4f4f4, 50%)
    width 100%
    min-height 60px
    padding 15px

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.inherit-bg
    background inherit !important
    
.pointer-event-inherit
    pointer-events inherit !important

.swiper-slide
    &.bug-swiper
        opacity 0 !important
        transition opacity 1s linear !important
        &.swiper-slide-active
            opacity 1 !important