$mobile-screen = 992px
.cf-navbar
    background-color #F4F4F4
    .cf-nav-items
        li
            border-style solid
            border-width 0px 0px 1px
            border-color #F4F4F4
            a
                color #414141 !important
                letter-spacing 2px
                font-size 12px
                font-family raleway, sans-serif
                font-weight 500
        li:hover
            @media screen and (min-width: $mobile-screen)
                transition-property border-color
                transition-duration 1s
                transition-delay 0s
                transition-timing-function ease
                border-color #000000
    .cf-guerrilla-link-img
        img
            height auto
            width 100%
            max-width 127px
            display none
            @media screen and (min-width: $mobile-screen)
                display inline
        span
            @media screen and (min-width: $mobile-screen)
                display none